{% extends '@W3CWebsiteTemplates/base_page.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% if page.siblingNavigation.siblings is defined %}
    {% set related_links = page.siblingNavigation.siblings %}
{% endif %}
{% set page_translations = page.localized %}
{% set breadcrumbs = page.breadcrumbParentPages %}
{% set body %}
    {% for component in page.defaultFlexibleComponents %}
        {{ include('partials/defaultFlexibleComponents.html.twig') }}
    {% endfor %}
{% endset %}
{% set toc = table_of_contents(body, ['h2']) %}

{% block body %}
    <p>
        Locale: {{ dump(locale) }},
        Text direction HTML attribute: {{ dump(textDirection) }}
    </p>

    {{ toc.html|raw }}
{% endblock %}
