{% extends "@W3CWebsiteTemplates/base.html.twig" %}

{% block title %}{{ 'title'|trans }}{% endblock %}

{% block body %}
    <ul>
        {% for localisation in page_localisations %}
            <li><a href="{{ localisation.url }}">{{ localisation.language }}</a></li>
        {% endfor %}
    </ul>

    {% for component in page_content_components %}

        {% if component is not empty %}

            {% if component.typeHandle == 'textComponent' %}
                {{ component.contentField|raw }}
            {% endif %}

            {% if component.typeHandle == 'blockquoteComponent' %}
                <figure>
                    <blockquote>
                        <p>{{ component.quoteText|raw }}</p>
                    </blockquote>
                    <figcaption>{{ component.citation|raw }}</figcaption>
                </figure>
            {% endif %}

        {% endif %}
    {% endfor %}
{% endblock %}