{% extends '@W3CWebsiteTemplates/pages/post.html.twig' %}
{%- import "@W3CWebsiteTemplates/components/styles/notes.html.twig" as note_macros -%}

{% set body_classes = 'post' %}
{% if comments_open %}
    {% form_theme comment_form '@W3CWebsiteTemplates/form/theme.html.twig' %}
    {% set rendered_form %}
        {{ form_start(comment_form, {attr: {id: 'comment-form', name: 'comment-form', novalidate: true}}) }}
            {{ form_row(comment_form.comment) }}
            <div class="l-switcher">
                <div>
                    <div>
                        {{ form_row(comment_form.name) }}
                    </div>
                    <div>
                        {{ form_row(comment_form.email) }}
                    </div>
                </div>
            </div>
            <div class="field">
                <button class="button" type="submit">
                    {{ 'blog.comments.form.submit'|trans }}
                </button>
                <a href="{{ path('app_blog_show', {'year': year, 'slug': slug}) }}">
                    {{ 'blog.comments.form.cancel'|trans }}
                </a>
            </div>
            {{ form_rest(comment_form) }}
        {{ form_end(comment_form) }}
    {% endset %}
{% endif %}

{% block feed %}
    {% include '@W3CWebsiteTemplates/components/styles/feed.html.twig' with { 'feed_url': '/blog/feed', 'feed_type': 'Blog' } %}
{% endblock %}

{% block comments %}
    {{ parent() }}
    {% embed '@W3CWebsiteTemplates/components/styles/comments.html.twig' with {
        'post': page,
        'comments': comments,
        'comments_open': comments_open,
        'rendered_form': rendered_form is defined ? rendered_form : null,
        'reply_to': reply_to
    } %}
    {% endembed %}
{% endblock %}

{% block notes %}
    {{ parent() }}
    {% if comments_open %}
        {{ note_macros.form_errors(comment_form) }}
    {% endif %}
{% endblock %}

{% block closing_body_scripts %}
    <script>
        var commentsScript = document.createElement('script');
        commentsScript.src = "{{ asset('js/comments.js', 'website-2021') }}";
        document.querySelector('body').appendChild(commentsScript);
    </script>
{% endblock %}
