{% extends '@W3CWebsiteTemplates/pages/listing.html.twig' %}

{% block filters %}
    {{ include('@W3CWebsiteTemplates/components/listings/news/filters.html.twig') }}
{% endblock %}

{% block list %}

    <p>This is page {{ entries.pagination.page }}, displaying results {{ entries.pagination.from }}-{{ entries.pagination.to }}</p>

    {{ include('@W3CWebsiteTemplates/components/listings/news/list.html.twig') }}
{% endblock %}
