{% extends '@W3CWebsiteTemplates/pages/listing.html.twig' %}

{% set extra_main_attributes = 'data-anchor="no"' %}

{% block filters %}
    {{ include('@W3CWebsiteTemplates/components/listings/events/filters.html.twig') }}
{% endblock %}

{% block list %}
    <div aria-live="polite" aria-atomic="true">
        {{ 'pagination.summary'|trans({
            'page': entries.pagination.page,
            'from': entries.pagination.from,
            'to': entries.pagination.to
        }, 'w3c_website_templates_bundle') }}
    </div>

    {{ include('@W3CWebsiteTemplates/components/listings/events/list.html.twig') }}
{% endblock %}

{% block pre_footer %}
    {% embed '@W3CWebsiteTemplates/components/pre-footer.html.twig' %}
        {% block content %}
            {% include '@W3CWebsiteTemplates/components/styles/feed.html.twig' with { 'feed_url': path('app_feed_events'), 'feed_type': 'events' } %}

            {% if archives is defined and archives|length > 0 %}
                <section class="archive-links">
                    <h2 class="txt-jupiter">W3C archived events</h2>
                    <button type="button" class="button button--ghost with-icon with-icon--after" style=""
                            data-toggle="true" aria-expanded="false">Browse archives
                    </button>
                    <nav id="archive-nav" aria-label="Event archive">
                        <ul class="clean-list" role="list">
                            {% for archive in archives %}
                                <li><a href="{{ archive.url }}">{{ archive.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                </section>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
